body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7b6bf2;
}


#hero {
    background: linear-gradient(rgb(82, 99, 226), rgb(85, 174, 206));
    color: white;
    text-align: center;
    padding: 50px 20px;
}
#hero button:hover {
    background: #0056b3;
}
section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    padding: 10px 20px;
    border: none;
    background: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
form button:hover {
    background: #218838;
}
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
.thread {
    background-color: #f8f9fa;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  .thread h3 {
    margin-top: 0;
  }
  .badge {
    margin-bottom: 0.5rem;
  }