/* General */
body{
    padding: 0;
    margin: 0;
}

/* Header */
.NavBar{
    background-color: #eeeeee !important;
}
/* Hero Section */
#HeroSectionVideo{
    position: fixed;
    
}

/* canvas{
    display: block;
} */



/* What Section */
.What{
    padding: 20px;
}